section {
  height: 110vh;
  background-image: url("https://cdn.wallpapersafari.com/85/62/ErkFLA.jpg");
  background-size:cover;
}

h1 {
  font-family: 'Sigmar One', cursive;
  color: #21ABCD;
  font-size: 3em;
}

p {
  font-family: 'Monoton', cursive;
  font-size: 3em;
}
