<p>
  Game Quiz
</p>

<div class="container">
  <section class="gamebox text-center p-5 m-5">
    <div class="row">
      <div class="input-field col s12">
        <h1>Game Quiz</h1>
        <br><br>
        <button class="btn-large btn-submit m-5" type="submit" (click)="mode1click()">Mode1</button>
        <button class="btn-large btn-submit m-5" type="submit" (click)="mode2click()">Mode2</button>
        <button class="btn-large btn-submit m-5" type="submit" (click)="mode3click()">Mode3</button>
      </div>
    </div>
  </section>
</div>

