<h1>Game Quiz</h1>

<div class="container">
  <section class="gamebox text-center p-5 m-5">
    <div class="row">
      <img src="../../assets/Images/Timer.png" height="50" width="50">
      <p class="timer text-white pl-4 pr-5"> {{ timeCount }} </p>
      <app-score></app-score>
    </div>
    <div class="row">
      <div class="input-field col">
        <div class="row">
          <div class="col">
            <div class="row">
              <h3 class="text-white pt-3">When did {{movieData.Title}} release?</h3>
            </div>
            <div class="row pt-5">
              <div class="col">
                <button class="btn-large btn-submit m-1" type="submit" (click)="answer1click()" onmousedown="win.play()">{{movieData.Year}}</button>
              </div>
              <div class="col">
                <button class="btn-large btn-submit m-1" type="submit" (click)="answer2click()" onmousedown="lose.play()">{{movieData.Year*1 + 5*1}}</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn-large btn-submit m-1" type="submit" (click)="answer3click()" onmousedown="lose.play()">{{movieData.Year*1 + 2*1}}</button>
              </div>
              <div class="col">
                <button class="btn-large btn-submit m-1" type="submit" (click)="answer4click()" onmousedown="lose.play()">{{movieData.Year*1 - 3*1}}</button>
              </div>
            </div>
          </div>
          <div class="col pt-3">
            <img [src]="movieData.Poster" alt="Smiley face" height="300" width="150">
          </div>
        </div>
      </div>
    </div>
    <div class="progress md-progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </section>
</div>
